author: "STRd6"
name: "Surfing 2 Survive"
description: "As a lone FBI agent you must surf to survive."
version: "0.1.0"
width: 480
height: 320
entryPoint: "main"
dependencies:
  audio: "distri/audio:v0.2.0-alpha.1"
  observable: "distri/observable:v0.1.0"
  jQuery: "distri/jQuery:v1.11.0.0"
  dust: "distri/dust:v0.1.8-alpha.5"
permissions: [
  "<all_urls>"
]
