author: "STRd6"
name: "Surfing 2 Survive"
description: "As a lone FBI agent you must surf to survive."
version: "0.1.0"
width: 480
height: 320
entryPoint: "main"
dependencies:
  observable: "distri/observable:v0.1.0"
  jQuery: "distri/jQuery:v1.11.0.0"
  dust: "distri/dust:v0.1.8-alpha.4"
  # sound: "distri/sound:v0.1.0"
permissions: [
  "<all_urls>"
]
